@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*{
    box-sizing: border-box;
}
html body{
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    line-height: 1.5;
}
.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
} 
@media (min-width: 768px){.container{max-width: 720px;}}
@media (min-width: 1200px){.container{max-width: 1120px;}}
@media (min-width: 1920px){.container{max-width: 1410px;}}
a {
    color: #2baaec;
    text-decoration: none;
}
a:hover {
    color: #25e6c8;
}
.btn {
    display: inline-flex;
    font-weight: 300;
    text-align: center;
    vertical-align: middle;
    padding: 1.25rem, 1.75rem;
    border-radius: 0.75rem;
    border: 1px solid transparent;
    background-color: transparent;
    font-size: 1rem;
}
.socialmedia {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
}
/* Topmenu */
#topmenu {
    display: none;
    border-bottom: 1px solid rgba(112, 112, 112, .6);
}
@media (min-width: 768px) { #topmenu { display: block; }}
@media (min-width: 1200px) { #topmenu { display: block; }}
#topmenu .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px     ;
}
#topmenu .container .hours {
    flex: 2;
}
#topmenu .container .hours span{
    color: #626262;
    font-size: 1rem;
}
#topmenu .container .hours i {
    margin-right: 0.3rem;
    color: #2baaec;
    font-size: 1.2em;
}
#topmenu .container .socialmedia li {
    margin-left: 1.3rem;
}

/* mainmenu */
#mainmenu {
    font-family: 'Roboto Slab', serif; 
    padding-top: 1rem;
    font-size: 1.12rem;
}
@media (min-width: 768px) { #mainmenu { padding-top: 50px; padding-bottom: 50px;} }
#mainmenu .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
}
@media (min-width: 768px) { #mainmenu .container {padding-bottom: 0px;} 
}
#mainmenu .container .logo {
    height: 50px;
    margin-left: 10px;
}
@media (min-width: 768px) { 
    #mainmenu .container .logo { 
        height: 80px; 
        margin-left: 0px;
    } 
}
#mainmenu .container .menu {
    flex: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
}
@media (min-width: 768px) {#mainmenu .container .menu { margin-right: 0px;}}
#mainmenu .container .menu ul {
    display: none;
    list-style: none;
    margin: 0;
}
@media (min-width: 992px) { #mainmenu .container .menu ul { display: flex; } }

#mainmenu .container .menu ul li {
    margin-left: 1.3rem;
}
#mainmenu .container .menu ul li a {
    color: #363636;
}
#mainmenu .container .menu ul li a:hover {
    color: #25e6c8;
}
#mainmenu .container .menu button {
    font-size: 2.0rem;
    padding: 0;
}
@media (min-width: 992px) { #mainmenu .container .menu button { display: none; } }

/* showcase */
#showcase{
    background-color: #DEDEDE; 
}
#showcase .container {
    display: flex;
    flex-direction: column;
}
@media (min-width: 768px){ 
    #showcase .container{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 700px;
    }
}
#showcase .content-img{
    display: none;
}
@media (min-width: 768px){
    #showcase .content-img{
        width: 615px;
        display: flex;
        align-self: flex-end;
    }
}
#showcase .content{
    list-style: none;
    padding-inline-start: 0px; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 768px){
    #showcase .content{
        max-width: 690px;
        align-items: initial;
        justify-content: flex-end;
        margin-left: 150px;
    }
}
#showcase .content h1{
    font-family: 'Roboto Slab', serif;
    font-size: 2.5rem;
    margin-top: 3vh;
    text-align: center;
    color: #363636;
}
@media (min-width: 768px){
    #showcase .content h1{
        font-size: 3.75rem;
        margin: 0;
        text-align: left;
    }
}
#showcase .content p{
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 3vh;
    color: #626262;
}
@media (min-width: 768px){
    #showcase .content p{
        font-size: 1.12rem;
        text-align: left;
    }
}
#showcase .content button{
    font-family: 'Roboto', sans-serif;
    font-size: 1.12rem;
    border: none;
    background-color: #25E6C8; 
    color: #FFFFFF;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 3vh;  
} 
@media (min-width: 768px){#showcase .content button{width: 239px;}}
/* About Us */
#about-us .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#about-us #inner-container{
    display: flex;
    flex-direction: column;
    flex: 1;  
}
#about-us .content{
    list-style: none;
    padding-inline-start: 0px; 
}
#header-border{
    border-bottom: 2px solid #25E6C8;
}
#about-us .content li h1{
    font-family: 'Roboto Slab', serif;    
    text-align: center;
    padding: 0.7rem;
    font-size: 2rem;
    color: #363636;
}
@media (min-width: 768px){
    #about-us .content li h1{
        text-align: left;
        padding: 0;
        padding-bottom: 30px;
        width: 570px;
        font-size: 2.5rem;
    }
}
#blue-word{
    color: #2BAAEC;
  }
.about-us-text{
    text-align: center;
    padding: 0.7rem;
    font-size: 1rem;
    color: #626262;
}
@media (min-width: 768px){
    .about-us-text{
        text-align: left;
        padding: 0;
        width: 690px;
        font-size: 1.12rem;
    }
}
.blue-text{
    font-family: 'Roboto Slab', serif;
    color: #2BAAEC;
    font-size: 2rem;  
    margin: 0;
}
@media (min-width: 768px){
    .blue-text{
        font-size: 2.5rem;  
    }
}
.text-2{
    font-family: 'Roboto Slab', serif;
    font-size: 1rem;
    margin: 0;
    color: #363636;
}
@media (min-width: 768px){
    .text-2{
        font-size: 1.12rem;
    }
}
.grid-1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    grid-template-areas:
      "n1 n2 n3";
    text-align: center;
}
@media (min-width: 768px){
    .grid-1{
        gap: 50px;
        text-align: left;
        width: 690px;
    }
}
.info-1 { 
    grid-area: n1; 
}
.info-2 { 
    grid-area: n2; 
  }
.info-3 { 
    grid-area: n3; 
   
  }
#about-us .content-img{
    display: none;
}
@media (min-width: 768px){
    #about-us .content-img{
        height: 614px;
        display: flex;
        margin-top: 85px;
        margin-right: 150px;
        margin-left: 5vw;  
    }
}
/* Our Services */
.grid-container {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    gap: 0px;
    
    grid-template-areas:
      "service"
      "tooth1"
      "tooth2"
      "tooth3"
      "tooth4"
      "tooth5"
      "tooth6";
  }
  @media (min-width: 768px){
    .grid-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: auto;
        gap: 0px;
        margin-bottom: 10vh;
        grid-template-areas:
          ". service ."
          "tooth1 tooth2 tooth3"
          "tooth4 tooth5 tooth6";
      }
}
  .service {  
      grid-area: service; 
    }
  .tooth1 { 
      grid-area: tooth1; 
      margin-bottom: 80px;
    }
    .tooth2 { 
        grid-area: tooth2; 
        margin-bottom: 80px;
      }
  .tooth3 { 
      grid-area: tooth3; 
      margin-bottom: 80px;
    }
  .tooth4 { 
      grid-area: tooth4; 
      margin-bottom: 80px;
    }
  .tooth5 { 
      grid-area: tooth5; 
      margin-bottom: 80px;
    }
  .tooth6 { 
      grid-area: tooth6; 
      margin-bottom: 80px;
    }
    @media (min-width: 768px){
        .tooth1 { 
            margin: 0 auto;
          }
          .tooth2 { 
              margin: 0 auto;
            }
        .tooth3 { 
            margin: 0 auto;
          }
        .tooth4 { 
            margin: 0 auto;
          }
        .tooth5 { 
            margin: 0 auto;
          }
        .tooth6 { 
            margin: 0 auto;
          }
    }
  .circle{
    background-color:#25E6C8;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media (min-width: 768px){
    .circle{ 
        margin: 70px auto 50px auto;
      }
  }
  .circle:hover{
    background-color:#2BAAEC;
  }
  #our-services img{
    height: 60px;
  }
  #our-services h3{
    text-align: center;
    border-bottom: 2px solid #25E6C8;
    padding: 1rem;
    font-size: 2.5rem;
    font-family: 'Roboto Slab', serif;
    color: #363636;
  }
  @media (min-width: 768px){
    #our-services h3{
        padding: 0rem;
        margin-top: 145px;
        margin-bottom: 70px;
        padding-bottom: 30px;
      }
  }
  #our-services h4{
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: 1.37rem;
    color: #363636;
  }   
  @media (min-width: 768px){
    #our-services h4{
        margin-bottom: 30px;
      }
  }
  #our-services p{
    font-family: 'Roboto', sanserif;
    text-align: center;
    font-size: 1.12rem;
    color: #626262;

  }  
  @media (min-width: 768px){
    #our-services p{
        width: 350px;
        margin-bottom: 80px;
      }
  }

/* Appointment */
#appointment{
    background-color:#4EB4E8; 
}
@media (min-width: 768px){
    #appointment{
        height: 220px;
        display: flex;
        align-items: center;
    }
}
#appointment .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 768px){
    #appointment .container{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
}
#appointment p{
    font-family: 'Roboto Slab', serif;
    color: #FFFFFF;
    font-size: 1.87rem; 
    text-align: center;
    padding: 1rem;
}
@media (min-width: 768px){
    #appointment p{
        text-align: left;
        font-size: 1.87rem; 
        padding: 80px 0;
        margin: 0;
    }
}
#appointment button{
    font-family: 'Roboto', sans-serif;
    width: 60vw;
    display: block;
    margin-bottom: 2rem;
    font-size: 1.12rem;
    border: none;
    background-color: white; 
    color: #4EB4E8;
    border-radius: 10px;
    padding: 1rem;
}
@media (min-width: 768px){
    #appointment button{
        width: 285px;
        padding: 25px;
        font-size: 1rem;
        margin: 0;
    }
}
/* Footer */
footer{
    background-color: #2BAAEC;
    height:190px;
}
@media (min-width: 768px){
    footer{
        height: 80px;        
    }
}
footer .container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (min-width: 768px){footer .container{margin: auto;}}
@media (min-width: 768px){#footer-1{display: none;}}
#footer-1 p{
    font-family: 'Roboto', sanserif;
    font-size: 1rem;
    color: #F3FBFF;
    text-align: center;
    padding: 20px 0 30px 0;
    margin: 0;
}
#footer-1 .socialmedia{
    display: flex;
    justify-content: center;
    padding-inline-start: 0px;
}
#footer-1 .socialmedia li {
    padding: 0 1rem;
}
footer a i{
    color:#F3FBFF;
    font-size: 2rem;  
    
}
.footer-c{
    list-style: none;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-inline-start: 0px;
}
#footer-1 .footer-c {
    padding: 30px 0;
}
#footer-1 .footer-c li{
    margin-left: 10px;
}
.footer-c i{
   color: white;
}
#footer-1 .footer-c li p{
    padding: 0;
 }
#footer-2{
    display: none;
} 
@media (min-width: 768px){
    #footer-2{
        display: flex;
        flex-direction: row; 
    }
}
span {
    color: #F3FBFF;
    opacity: 0.4;
    padding-top: 30px;
    padding-bottom: 30px;
}
@media (min-width: 768px){ 
#footer-2 .footer-c{
        padding-inline-start: 0px;
    }
}
